<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Opravila</h1>
    </header>
    <section id="opravila">
      <h2>Seznam opravil</h2>
      <input type="text" v-model="novCilj"/>
      <button v-on:click="dodajCilj">Dodaj opravilo</button>
      <p v-if="cilji.length === 0">Noben cilj še ni bil dodan - začnite jih dodajati!</p>
      <ul v-else>
        <li v-for="(cilj, index) in cilji" v-on:click="odstraniCilj(index)">{{ cilj }}</li>
      </ul>
    </section>
  </body>
</html>
